<!-- filepath: e:\web dev\project\Full-stack\Air BNB\views\listings\show.ejs -->
<% layout("/layouts/boilerplate") %>

  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h3 class="card-title mb-3">
        <%= listing.title %>
      </h3>
      <div class="card  listing-card ">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="Listing image" />
        <div class="card-body">
          <p class="card-text mb-2">
            <%= listing.description %>
          </p>
          <p class="card-text mb-1">
            <strong>Price:</strong> &#x20b9;<%= listing.price.toLocaleString("en-IN") %>
          </p>
          <p class="card-text mb-1">
            <strong>Location:</strong>
            <%= listing.location %>
          </p>
          <p class="card-text mb-3">
            <strong>Country:</strong>
            <%= listing.country %>
          </p>
          <a href="/listings/<%= listing.id %>/edit" class="btn btn-primary me-2">Edit</a>
          <form action="/listings/<%= listing.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
        <div class="col-8 offset-3 mb-3 justify-content-center mt-3">
          <hr>
          <h4>LEAVE A REVIEW</h4>
          <form action="/listings/<%= listing.id %>/reviews" class="needs-validation" method="POST" novalidate>
            <div class="mb-4 mt-4">

              <label for="rating" class="form-label">Rate this : </label>
              <input class="form" type="radio" id="rating1" name="review[rating]" value="1" />
              <label for="rating1">1&nbsp;&#11088;</label>

              <input class="form" type="radio" id="rating2" name="review[rating]" value="2" />
              <label for="rating2">2&nbsp;&#11088;</label>
              <input class="form" type="radio" id="rating3" name="review[rating]" value="3" />
              <label for="rating3">3&nbsp;&#11088;</label>
              <input class="form" type="radio" id="rating4" name="review[rating]" value="4" />
              <label for="rating4">4&nbsp;&#11088;</label>
              <input class="form" type="radio" id="rating5" name="review[rating]" value="5" />
              <label for="rating5">5&nbsp;&#11088;</label>
            </div>
            <div class="mb-3 mt-3">
              <label class="form-label" for="comment">Comment:</label>

              <textarea name="review[comment]" id="comment" class="form-control" cols="30" rows="5" class="form-control"
                required></textarea>
              <div class="invalid-feedback">Please write a comment.</div>
            </div>
            <button class="btn btn-outline-dark" type="submit">Submit</button>
          </form>


          <hr>


          <h4>All REVIEWS</h4>
          <!-- <p><%=//listing.reviews%></p> -->
          <div class="row">
            <%  let i=1; %>
            <% for(review of listing.reviews) { %>
              <div class="card  col-5 ms-3 mb-3">
                <div class="card-body">
                  <h5 class="card-title"> visitor <%= i++ %>: </h5>
                  <p class="card-text ">
                    <%= review.comment %>
                  </p>
                  <p class="card-title">Rating: <%= review.rating %> &#11088;</p>
                </div>
                <form action="/listings/<%= listing.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
                  <button class="btn btn-sm btn-dark mb-2 mt-2" type="submit">Delete</button>
                </form>
              </div>
              <% } %>
          </div>

        </div>
      </div>
    </div>
  </div>